/* Configurações de estilo */

:root {
    --main-radius: 1rem;
    --input-radius: 1rem;
    --font-default1: 'Maiandra GD';
    --font-default2: 'Segoe UI';
    --font-default3: 'Gill Sans MT';
    --font-default4: 'Lucida Sans';
    --font-default5: 'Mate';
    --font-default6: 'Calibri';
    --font-default7: 'Eras ITC';
    --font-default8: 'Consolas';
    --font-style: italic;
}

/*------------------------------------------------------*/
/* ELEMENTOS: */
html {
	font-size: 1.42vh;
    /* 10 px ~= 1 rem */
}
		
body {
	/* font-family: var(--font-default); */
    text-align: center;
    background-color: antiquewhite;
}

th {
    border: 0.3rem solid rgb(50% 40% 20%);
    border-radius: 1rem;
    padding: 0.6rem
}

/*------------------------------------------------------*/
/* CLASSES: */
.div_geral {
    border: 0.5rem solid rgb(50% 40% 20%);
    border-radius: 3rem;
    margin-bottom: 1rem;;
}

.par_geral {
    display: flex;
    justify-content: center;

    font-weight: 600;
}

/*------------------------------------------------------*/
/* IDs: */
#div_titulo {
    border: 0.5rem solid rgb(10% 20% 70%);
    border-radius: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#div_tabela {
    display: flex;
    justify-content: center;

    border: 0.5rem solid rgb(70% 20% 10%);
    border-radius: 2rem;

    font-family: var(--font-default2);
    font-size: 2rem;
    color: rgb(0% 40% 10%)
}
#par_titulo {    
    display: inline;

    font-family: var(--font-default1);
    font-size: 4rem;
    font-weight: 600;
    color: rgb(80% 10% 50%);
}

#par_dados1 {
    font-family: var(--font-default4);
    font-size: 2rem;
    font-weight: 600;
    color: rgb(10% 20% 70%);    
}
#par_dados2 {
    display: inline;

    font-family: var(--font-default4);
    font-size: 3rem;
    font-weight: 600;
    color: rgb(10% 20% 70%);    
}

/*------------------------------------------------------*/

/* 
Font names list:
- Arial
- Calibri
- Cambria
- Candara
- Century Gothic
- Cochin
- Comic Sans MS
- Consolas
- Corbel
- Courier New
- Franklin Gothic Medium
- Georgia
- Impact
- Lucida Console
- Lucida Grande
- Lucida Sans Unicode
- Palatino Linotype
- Segoe Print
- Segoe Script
- Segoe UI
- Tahoma
- Times New Roman
- Trebuchet MS
- Verdana
*/    
